#AppToolbar {
  background-color: #00c0d4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#AppToolbar a {
  text-decoration: none;
  color: white;
}

#AppTitle {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 2rem;
}

#AppNavBar {
  padding: 0 2rem;
  flex: 1;
}

#AppNavBar a {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

#AppNavBar a.active {
  background-color: #00acbf;
  border-radius: 0.25rem;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#AppToolbarLoginButton {
  padding: 0.5rem 1rem;
  background-color: #7E57C2;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}